@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animation-delay-1 {
        animation-delay: 1s;
    }

    .animation-delay-2 {
        animation-delay: 2s;
    }

    .animation-delay-3 {
        animation-delay: 3s;
    }

    .animation-delay-4 {
        animation-delay: 4s;
    }

    .animate-duration-4s {
        animation-duration: 6s;
    }

    .light-mode-gradient {
        background-image: linear-gradient(to right, #e2e8f0, #94a3b8);
    }

    .dark-mode-gradient {
        background-image: linear-gradient(to right, #475569, #020617);
    }

    .dark-mode-gradient-crypto-1 {
        background-image: linear-gradient(to bottom, #64748b, #334155);
    }

    .dark-mode-gradient-crypto-2 {
        background-image: linear-gradient(to top, #475569, #94a3b8);
    }

    .light-mode-gradient-crypto-1 {
        background-image: linear-gradient(to top, #f59e0b, #b45309);
    }

    .light-mode-gradient-crypto-2 {
        background-image: linear-gradient(to bottom, #fbbf24, #d97706);
    }
}

